<!DOCTYPE html>
<html lang="en" ng-app="YTRadio">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body ng-controller="PageCtrl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10">
          <div id="video-wrapper" ng-hide="novid">
            <div class="embed-responsive embed-responsive-16by9">
              <youtube-video video-id="videoID" player-vars="playerVars" player="ytplayer"></youtube-video>
            </div>
          </div>
          <div id="error-wrapper" ng-show="novid">
            <div class="embed-responsive embed-responsive-16by9">
              <h1 style="margin-top:250px;">No Videos Queued <small>Add a video to get the party rolling!</small></h1>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xs-2">
              <button type="button" class="btn btn-default" ng-click="skip()">
                Skip
              </button>
            </div>
            <div class="col-xs-8">
              <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input type="text" class="form-control" placeholder="Search for a video here" ng-model="searchCriteria">
              </div>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-default" ng-click="search()">
                Search
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <ul class="nav nav-stacked">
              <li ng-repeat="result in searchResults track by $index" ng-click="addToQueue(result)"  style="cursor:pointer" role="presentation">
                <span><img src="{{result.snippet.thumbnails.default.url}}"></img>{{result.snippet.title}}<span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2">
          <h1>Queued Items</h1>
          <hr>
          <ul class="nav nav-stacked">
            <li ng-repeat="video in queue track by $index" class="nav nav-stacked" style="cursor:pointer" role="presentation">
              <span><img src="{{video.snippet.thumbnails.default.url}}"></img>{{video.snippet.title}}<span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--  Angular and dependencies -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-socket-io/socket.min.js">

    </script>
    <!--source -->
    <script type="text/javascript" src="index.js"></script>

    </script>
  </body>
</html>
