@import '../../scss/_variables';

.sidebar{
  background-color: $sidebar-color;
  color: $light-text-color;
}

.sidebar-btn{
  border:inset 1px #000;
}

.sidebar-btn-active{
  background-color: rgba(255,255,255,0.5);
}

.middle-section {
    height: calc(100% - 100px);
}
