@import '../../scss/_variables';

.sidebar {
  background-color: $base-color-2;
  color: $text-color-light;
}

.sidebar-btn {
  background-color: #272736;
  border: inset 1px #1b1921;
  padding: 10px 0;
}

.sidebar-btn-active {
  background-color: #43495b;
}

.middle-section {
  height: calc(100% - 100px);
}
