<radio-controls></radio-controls>
<div class="container-fluid middle-section">
    <div class="row full-height">
        <div class="col-xs-12 col-md-9 col-xl-10 full-height">
            <theatre></theatre>
        </div>
        <div class="col-xl-2 col-md-3 hidden-sm-down full-height sidebar">
            <div class="row nopad-x align-items-space">
                <div class="col text-center pointer sidebar-btn" [ngClass]="{'sidebar-btn-active':activeTab===0}" [routerLink]="['/']">
                    <h1><span class="fa fa-user"></span></h1>
                </div>
                <div class="col text-center pointer sidebar-btn" [ngClass]="{'sidebar-btn-active':activeTab===1}" [routerLink]="['/queue']">
                    <h1><span class="fa fa-list"></span></h1>
                </div>
                <div class="col text-center pointer sidebar-btn" [ngClass]="{'sidebar-btn-active':activeTab===2}" [routerLink]="['/chat']">
                    <h1><span class="fa fa-comment"></span></h1>
                </div>
            </div>
            <div class="row full-height">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<user-controls></user-controls>

