<radio-controls></radio-controls>
<div class="container-fluid middle-section">
    <div class="row full-height justify-content-center">
        <div id="screen" class="col-12 col-md-8 col-lg-9 col-xl-10 full-height align-self-middle">
            <theatre></theatre>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block full-height sidebar">
            <div class="row nopad-x align-items-space">
                <div class="col text-center pointer sidebar-btn" [ngClass]="{'sidebar-btn-active':activeTab===0}" (click)="activateTab(0)" title="Online Users" aria-label="Online Users">
                    <span class="fa fa-user fa-2x"></span>
                </div>
                <div class="col text-center pointer sidebar-btn" [ngClass]="{'sidebar-btn-active':activeTab===1}" (click)="activateTab(1)" title="DJ Queue" aria-label="DJ Queue">
                    <span class="fa fa-list fa-2x"></span>
                </div>
                <div class="col text-center pointer sidebar-btn" [ngClass]="{'sidebar-btn-active':activeTab===2}" (click)="activateTab(2)" title="Chat" aria-label="Chat">
                    <span class="fa fa-comment fa-2x"></span>
                </div>
            </div>
            <div class="row full-height">
                <user-list [hidden]="activeTab !== 0"></user-list>
                <queue [hidden]="activeTab !== 1"></queue>
                <chat [hidden]="activeTab !== 2"></chat>
            </div>
        </div>
    </div>
</div>
<user-controls></user-controls>
