dist/
.vscode/
node_modules/
data/
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage

.env
*.env

.editorconfig
.jshintrc
.gitignore
.docker-compose.yml
tslint.json
*.node
