//this is a sample, Substitute in your own values for each field and save as config.json
{
  "Keys":{
    "YoutubeAPI": "Your Youtube API Key, Approved for YT API"
  },
  "DB":{
    "host" : "localhost",
     "user": "YourSAUser",
    "password": "SAPassword",
    "port": portNumber
  }
}
