<div id="search-overlay" class="container-fluid overlay animation-on" ng-show="expand && getUser()">
  <div class="row" style="padding-top:20px; height:75px; background-color:#000;">
    <div class="col-xs-3">
      &nbsp;
    </div>
    <div class="col-xs-6">
      <form class="simple-form" ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for videos" ng-model="searchCriteria.query">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search()">Search</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row fullheight" style="padding-bottom:125px;">
    <div class="col-xs-2">
      <div class="row">
        <h2>Playlists</h2>
      </div>
      <hr>
      <div class="row">
        <ul class="nav nav-stacked playlist-list">
          <li class="playlist-tab pointer" ng-repeat="playlist in playlists track by $index" ng-click="viewPlaylist(playlist.Name)" ng-class="{'playlist-active': playlist.Name===playlistName}">
            <h4>
              {{playlist.Name}}
            </h4>
          </li>
        </ul>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 text-center" ng-if="!addingPlaylist">
          <button type="button" class="btn btn-success" ng-click="addPlaylist()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        <div class="col-xs-12" ng-if="addingPlaylist">
          <div class="col-xs-8">
            <input type="text" name="nplaylistName" placeholder="New Playlist" ng-model="newPlaylist.Name" style="color:#000000;">
          </div>
          <div class="col-xs-4" style="padding-top:4px;">
            <a href="javascript:void(0)" ng-click="cancelPlaylistAdd()" style="color:red;"><span class="glyphicon glyphicon-remove"></span></a>
            <a href="javascript:void(0)" ng-click="registerPlaylist()" style="color:green;"><span class="glyphicon glyphicon-ok"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-9 fullheight" style="overflow-y: scroll;">
      <div id="loadingbar" ng-show="isLoading" style="position:absolute; top:20%; right:50%;">
        <h3 class="text-center">Loading...</h3>
        <img src="images/loading.gif" alt="loading" class="center-block" />
      </div>
      <div id="search-results" ng-hide="!isSearching || isLoading">
        <h2>Results</h2>
        <hr>
        <ul class="nav nav-stacked" >
          <li ng-repeat="item in searchResults track by $index" ng-click="addToPlaylist(item)" class="pointer" role="presentation">
            <div class="row vidrow">
              <div class="col-xs-2 vidicon">
                <img ng-src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-xs-3 col-sm-4 col-md-5 col-lg-6 vidtitle">
                <span>{{item.Title}}</span>
              </div>
              <div class="col-xs-1 pull-right">
                <span class="pull-right vidtime">
                  {{item.FormattedTime}}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="playlist-items" ng-hide="isSearching">
        <h2>{{playlistName}}</h2>
        <hr>
        <ul class="nav nav-stacked" >
          <li ng-repeat="item in playlists[playlistName].Contents track by $index" role="presentation">
            <div class="row vidrow">
              <div class="col-xs-2 vidicon">
                <img ng-src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-xs-3 col-sm-4 col-md-5 col-lg-6 vidtitle">
                <span>{{item.Title}}</span>
              </div>
              <div class="col-xs-3" style="min-width:300px;">
                <div class="col-xs-9 vidbuttons">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" ng-click="moveUp($index)" ng-hide="$first">
                      <span class="glyphicon glyphicon-arrow-up"></span>
                    </button>&nbsp;
                    <button type="button" class="btn btn-primary" ng-click="moveDown($index)" ng-hide="$last">
                      <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>&nbsp;
                    <button type="button" class="btn btn-danger" ng-click="removeFromPlaylist($index)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </div>
                <div class="col-xs-2 pull-right">
                  <span class="pull-right vidtime">{{item.FormattedTime}}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="col-xs-1" ng-click="expand=!expand" ng-show="getUser()">
          <span class="navbar-text glyphicon glyphicon-chevron-down" ng-if="expand"></span>
          <span class="navbar-text glyphicon glyphicon-chevron-up" ng-if="!expand"></span>
        </div>
        <div class="col-xs-4 col-sm-2 col-lg-1" ng-show="getUser()">
          <button type="button" class="btn navbar-btn" ng-class="{'btn-success': !joined, 'btn-danger': joined}" ng-click="joinLeaveQueue()">
            {{joined ? 'Leave Queue' : 'Join Queue'}}
          </button>
        </div>
        <div class="col-xs-4 col-md-3 col-lg-2" ng-show="getUser()">
          <p class="navbar-text see-more">
            <strong>Playlist: </strong>{{playlistName}}
          </p>
        </div>
        <div class="visible-lg col-lg-4 text-right">
          <p class="navbar-text visible-lg see-more full-width">
            <strong>Next Song: </strong>
            {{playlists[playlistName].Contents[0].Title || 'No song left in playlist'}}
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 col-lg-4 pull-right">
          <p class="navbar-text pointer pull-right text-right" ng-click="login()" ng-hide="getUser()">Log in/Sign up</p>
          <p class="navbar-text pointer pull-right text-right" ng-click="logOut()" ng-show="getUser().Username">Log Out?</p>
          <p class="navbar-text visible-lg pull-right text-right">Logged in as {{getUser().Username}}</p>
        </div>
      </div>
  </div>
</footer>
