html,body{
  height:100%;
  overflow-y: hidden;
}

.overlay{
  height:100%;
  width:100%;
  overflow:hidden;
  position:absolute;
  z-index:1000;
  top:0;
  left:0;
  color:#FFF;
  background-color: rgba(64,64,64,0.9);
}

.navbar a{
  cursor:pointer;
}

.pointer{
  cursor:pointer;
}

.pointer:hover{
  background-color: rgba(255,255,255,0.3);
}

.sidebar{
  padding:0px;
  background-color: rgba(64,64,64,1);
  color:#FFF;
}

.sidebar-btn{
  border:inset 1px #000;
}

.sidebar-btn-active{
  background-color: rgba(255,255,255,0.5);
}

.queue{
  width:100%;
  height:100%;
}

.queue>.queue-item{
  min-height:50px;
  width:100%;
  padding:2px;
}

.chatmessage{
  word-wrap: break-word;
}

/*Override navbar collapse*/
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

/*no more ugly scrollbar*/

::-webkit-scrollbar {
  display:none;
	width: 8px;
}
::-webkit-scrollbar-button {
  display:none;
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
  display:none;
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
  display:none;
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  display:none;
	background:#7d7d7d;
}
