html,body{
  height:100%;
  min-width:500px;
  overflow-y: hidden;
  background: #000;
}

.fullheight{
  height:100%;
}

.nopad-x{
  padding-left: 0px;
  padding-right:0px;
}

#screen{
  background:#000000;
  height:100%;
  padding-bottom:100px;
}

#screen div{
  margin-left: auto;
  margin-right:auto;
  padding-bottom:100px;
}

.overlay{
  height:100%;
  width:100%;
  overflow:hidden;
  position:absolute;
  z-index:1000;
  top:0;
  left:0;
  color:#FFF;
  background-color: rgba(64,64,64,0.9);
}

.playlist-list li{
  padding-top:5px;
  padding-bottom: 5px;

}

.playlist-list li h4{
  padding-left: 15px;
}

.playlist-active{
  background-color: rgba(255,255,255,0.5);
}

.vidrow{
  min-width:700px;
  overflow-x: hidden;
}

.vidrow:hover{
  background-color: rgba(255,255,255,0.3);
}

.vidicon{
  min-width:150px;
}

.vidtitle, .vidtime{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:35px;
}

.vidbuttons{
  min-width:145px;
  margin-top:30px;
}

.navbar a{
  cursor:pointer;
}

.pointer{
  cursor:pointer;
}

.pointer:hover{
  background-color: rgba(255,255,255,0.3);
}

.sidebar{
  background-color: rgba(64,64,64,1);
  color:#FFF;
}

.sidebar-btn{
  border:inset 1px #000;
}

.sidebar-btn-active{
  background-color: rgba(255,255,255,0.5);
}

.chatwindow{
  height:90%;
  padding-bottom:10px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.chatmessage{
  word-wrap: break-word;
  border-top: 2px dotted grey;
}

.queue{
  width:100%;
  height:100%;
}

.queue-item{
  min-height:50px;
  width:100%;
  padding:2px;
}

.volumebar{
  height: 10px;
  padding-top: 0px;
  background-color: rgba(66, 123, 208, 0.31);
  margin-top:6px;
}


/*Override navbar collapse*/
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

/*no more ugly scrollbar*/

::-webkit-scrollbar {
  display:none;
	width: 8px;
}
::-webkit-scrollbar-button {
  display:none;
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
  display:none;
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
  display:none;
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  display:none;
	background:#7d7d7d;
}
