@import '../../scss/_variables';

.user-controls {
  background-color: $base-color;
  color: $text-color-light;
  border-top: 1px solid $base-color2;
  position: relative;
  z-index: 100;
  height: 59px;

  p {
    margin-top: 17px;
  }
  
  .expand-button {
    margin: 10px 10px 0;
    
    span {
      float: left;
      
      &+span {
        margin-left: 10px;
      }
    }
  }
  
  .join-btn {
    margin-top: 10px;
  }
  
  .logout-container {
    position: absolute;
    right: 0;
  
    .login-btn {
      margin-top: 10px;
    }
    .logout-btn {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(66, 74, 99, 0.95);

  .overlay-col {
    padding: 20px 0 20px 20px;
  }

  .overlay-sidebar {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .full-height {
    padding-bottom: 116px;
  }
  
  li {
    background-color: $base-color;
    padding-top: 5px;
    padding-bottom: 5px;
    
    .row {
      margin: 0;
    }
  }
  
  .playlist-tab {
    padding: 10px 20px;
    
    h4 {
      margin: 0;
    }
  }

  #playlist-items, #search-results {
    ul {
      li {
        padding: 10px;
      }
    }
  }
  
  .playlist-list {
    .playlist-active {
      background-color: #6c7998;
      color: #fff;
    }
  }
}

.vidrow {
  width: 100%;

  &:hover {
    background-color: #6c7998;
  }
  
  .vidtime {
    float: right;
    text-align: right;
  }
}

.vidtitle, .vidtime {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 35px;
}

.vidbuttons {
  margin-top: 30px;
}

.search-row {
  background-color: $base-color;
  padding: 10px 0;
}
