@import '../../scss/_variables';

.user-controls {
  background-color: $base-color-1;
  color: $text-color-light;
  height: 50px;
  position: relative;
  z-index: 100;
  
  .footer-text {
    line-height: 50px;
    vertical-align: middle;
  }

  .join-btn, .logout-btn {
    margin: 7px 0;
  }
}


.overlay {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(66, 74, 99, 0.95);

  .search-row {
    padding-top: 16px;
    height: 70px;
    background-color: $base-color-1;
  }

  .overlay-col {
    padding: 25px 0 25px 50px;
  }

  .overlay-sidebar {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.list-group-item {
  background-color: transparent;
}

.playlist-tab {
  padding: 5px 20px;
}

.playlist-item-list {
  overflow: auto;
}

.playlist-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.playlist-active {
  background-color: rgba(255,255,255,0.5);
}

.vidrow {
  overflow-x: hidden;
  width: 100%;

  &:hover {
    background-color: rgba(255,255,255,0.3);
  }
}

.vidtitle, .vidtime {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 35px;
}

.vidbuttons {
  margin-top: 30px;
}

.expand-button {
  max-width: 40px;
}
