<div id="search-overlay" class="container-fluid overlay animation-on" *ngIf="expand && user">
  <div class="row search-row justify-content-center">
    <div class="col-6">
      <form class="simple-form" #searchForm="ngForm" (ngSubmit)="searchForm.valid && search($event)">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for videos" [(ngModel)]="searchCriteria.query" name="search" required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" type="submit" [disabled]="searchForm.invalid">Search</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row full-height">
    <div class="col-3 full-height overlay-col overlay-sidebar">
      <h2>Playlists</h2>
      <hr/>
      <ul class="list-group playlist-list">
        <li class="list-group-item playlist-tab pointer" *ngFor="let pl of listPlaylists(); let i=index;" (click)="viewPlaylist(pl.Name)" [ngClass]="{'playlist-active': pl.Name===playlistName}">
          <h4>
            {{pl?.Name}}
          </h4>
        </li>
      </ul>
      <br/>
      <div>
        <div class="col-xs-12 text-center" *ngIf="!addingPlaylist">
          <button type="button" class="btn btn-success" (click)="addPlaylist()">
            <span class="fa fa-plus"></span>
            &nbsp;New Playlist
          </button>
        </div>
        <div class="col-12" *ngIf="addingPlaylist">
          <div class="row">
            <div class="col-12">
              <input name="nplaylistName" class="form-control" placeholder="New Playlist" [(ngModel)]="newPlaylist['Name']" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="margin-top:10px;">
              <button class="btn btn-danger btn-sm" (click)="cancelPlaylistAdd()">
                <span _ngcontent-cml-8="" class="fa fa-remove"></span>
                &nbsp;Cancel
              </button>
              <button class="btn btn-success btn-sm float-right" (click)="registerPlaylist()">
                <span _ngcontent-cml-8="" class="fa fa-check"></span>
                &nbsp;Save
              </button>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="col-9 full-height overlay-col" style="overflow-y: auto;">
      <div id="loadingbar" *ngIf="isLoading" style="position:absolute; top:20%; right:50%;">
        <h3 class="text-center">Loading...</h3>
        <img src="assets/images/loading.gif" alt="loading" class="center-block" />
      </div>
      <div id="search-results" [hidden]="!isSearching || isLoading">
        <h2>Search Results</h2>
        <hr/>
        <ul class="col-12 list-group">
          <li *ngFor="let item of searchResults" (click)="addToPlaylist(item)" class="list-group-item" role="presentation">
            <div class="row vidrow">
              <div class="d-none d-lg-block vidicon">
                <img src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-8 vidtitle">
                <span>{{item?.Title}}</span>
              </div>
              <div class="col-2">
                <span class="vidtime">
                  {{item?.FormattedTime}}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="playlist-items" [hidden]="isSearching">
        <h2>Playlist: {{playlistName}}</h2>
        <hr/>
        <ul class="col-12 list-group">
          <li class="list-group-item" *ngFor="let item of playlists[playlistName]?.Contents let i=index; let f=first; let l=last" role="presentation">
            <div class="row vidrow">
              <div class="d-none d-lg-block vidicon">
                <img src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-6 vidtitle">
                <span>{{item?.Title}}</span>
              </div>
              <div class="col-2 vidbuttons text-right">
                <div class="btn-group btn-group-sm">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" (click)="moveUp(i)" [hidden]="f">
                      <span class="fa fa-arrow-up"></span>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="moveDown(i)" [hidden]="l">
                      <span class="fa fa-arrow-down"></span>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="removeFromPlaylist(i)">
                      <span class="fa fa-remove"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-lg-block vidtime">
                <span>{{item?.FormattedTime}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="user-controls">
  <div class="container-fluid">
    <div class="row">
      <div class="expand-button" (click)="expand=!expand">
        <ng-container *ngIf="user">
          <button type="button" class="btn btn-primary">
            <span class="fa pointer" [ngClass]="{'fa-chevron-up': !expand, 'fa-chevron-down': expand}"></span>
            <span>Playlists</span>
          </button>
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="user">
          <button type="button" class="btn join-btn" [ngClass]="{'btn-success': !joined, 'btn-danger': joined}" (click)="joinLeaveQueue()">
            {{joined ? 'Leave Queue' : 'Join Queue'}}
          </button>
        </ng-container>
      </div>
      <div class="col-lg-2 d-none d-lg-block">
        <ng-container *ngIf="user">
          <p class="see-more">
            <strong>Playlist: </strong>{{playlistName}}
          </p>
        </ng-container>
      </div>
      <div class="col-5">
        <p class="see-more full-width" *ngIf="user">
          <strong>Next Song: </strong>
          {{playlists[playlistName]?.Contents[0]?.Title || 'N/A (playlist is empty)'}}
        </p>
      </div>
      <div class="col-3 logout-container">
        <button type="button" class="btn btn-success float-right login-btn" data-toggle="modal" data-target="#authModal" *ngIf="!user">Log In / Sign Up</button>
        <ng-container *ngIf="user && user.Username">
          <button type="button" class="btn btn-danger float-right logout-btn" (click)="logOut()">Log Out</button>
          <p class="d-none d-lg-block float-right">Logged in as {{user.Username}}</p>
        </ng-container>
      </div>
    </div>
  </div>
</footer>
<auth></auth>
