<div id="search-overlay" class="container-fluid overlay animation-on" *ngIf="expand && user">
  <div class="row search-row justify-content-center">
    <div class="col-6">
      <form class="simple-form" #searchForm="ngForm" (ngSubmit)="searchForm.valid && search($event)">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for videos" [(ngModel)]="searchCriteria.query" name="search" required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" [disabled]="searchForm.invalid">Search</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row full-height" style="padding-bottom:125px;">
    <div class="col-3 full-height overlay-col overlay-sidebar">
      <div class="row">
        <h2>Playlists</h2>
      </div>
      <hr>
      <div class="row">
        <ul class="list-group playlist-list">
          <li class="list-group-item playlist-tab pointer" *ngFor="let pl of listPlaylists(); let i=index;" (click)="viewPlaylist(pl.Name)" [ngClass]="{'playlist-active': pl.Name===playlistName}">
            <h4>
              {{pl?.Name}}
            </h4>
          </li>
        </ul>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 text-center" *ngIf="!addingPlaylist">
          <button type="button" class="btn btn-success" (click)="addPlaylist()">
            <span class="fa fa-plus"></span>
          </button>
        </div>
        <div class="col-12" *ngIf="addingPlaylist">
          <div class="row">
            <div class="col-12">
              <input name="nplaylistName" placeholder="New Playlist" [(ngModel)]="newPlaylist['Name']" style="color:#000000;" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="padding-top:4px;">
              <button class="btn btn-danger btn-sm" style="margin: 5px 10px;" (click)="cancelPlaylistAdd()">
                <span _ngcontent-cml-8="" class="fa fa-remove"></span>
              </button>
              <button class="btn btn-success btn-sm" style="margin: 5px 10px;" (click)="registerPlaylist()">
                <span _ngcontent-cml-8="" class="fa fa-check"></span>
              </button>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="col-9 full-height overlay-col" style="overflow-y: scroll;">
      <div id="loadingbar" *ngIf="isLoading" style="position:absolute; top:20%; right:50%;">
        <h3 class="text-center">Loading...</h3>
        <img src="assets/images/loading.gif" alt="loading" class="center-block" />
      </div>
      <div id="search-results" [hidden]="!isSearching || isLoading">
        <h2>Results</h2>
        <hr>
        <ul class="list-group" >
          <li *ngFor="let item of searchResults" (click)="addToPlaylist(item)" class="pointer list-group-item" role="presentation">
            <div class="row vidrow">
              <div class="col-3 hidden-md-down vidicon">
                <img src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-9 col-lg-7 vidtitle">
                <span>{{item?.Title}}</span>
              </div>
              <div class="col-3 col-lg-2">
                <span class="pull-right vidtime">
                  {{item?.FormattedTime}}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="playlist-items" [hidden]="isSearching">
        <h2>{{playlistName}}</h2>
        <hr>
        <ul class="list-group playlist-item-list" >
          <li class="list-group-item" *ngFor="let item of playlists[playlistName]?.Contents let i=index; let f=first; let l=last" role="presentation">
            <div class="row vidrow">
              <div class="col-2 hidden-md-down vidicon">
                <img src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-8 col-lg-6 vidtitle">
                <span>{{item?.Title}}</span>
              </div>
              <div class="col-4 col-lg-2 vidbuttons text-right">
                <div class="btn-group btn-group-sm">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" (click)="moveUp(i)" [hidden]="f">
                      <span class="fa fa-arrow-up"></span>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="moveDown(i)" [hidden]="l">
                      <span class="fa fa-arrow-down"></span>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="removeFromPlaylist(i)">
                      <span class="fa fa-remove"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-2 hidden-md-down vidtime text-right">
                <span>{{item?.FormattedTime}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="user-controls">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 expand-button text-center" (click)="expand=!expand">
        <ng-container *ngIf="user">
          <span class="footer-text fa pointer" [ngClass]="{'fa-chevron-up': !expand, 'fa-chevron-down': expand}"></span>
        </ng-container>
      </div>
      <div class="col-3 col-md-2 text-center">
        <ng-container *ngIf="user">
          <button type="button" class="btn join-button" [ngClass]="{'btn-success': !joined, 'btn-danger': joined}" (click)="joinLeaveQueue()">
            {{joined ? 'Leave Queue' : 'Join Queue'}}
          </button>
        </ng-container>
      </div>
      <div class="col-lg-2 hidden-md-down">
        <ng-container *ngIf="user">
          <p class="footer-text see-more">
            <strong>Playlist: </strong>{{playlistName}}
          </p>
        </ng-container>
      </div>
      <div class="col-5">
        <p class="footer-text see-more full-width" *ngIf="user">
          <strong>Next Song: </strong>
          {{playlists[playlistName]?.Contents[0]?.Title || 'No song left in playlist'}}
        </p>
      </div>
      <div class="col-3 col-lg-2 float-right">
        <a class="footer-text pointer float-right text-right" (click)="login()" *ngIf="!user">Log in/Sign up</a>
        <ng-container *ngIf="user && user.Username">
          <a class="footer-text pointer float-right text-right" (click)="logOut()">Log Out?</a>
          <p class="footer-text hidden-md-down float-left text-left">Logged in as {{user.Username}}</p>
        </ng-container>
      </div>
    </div>
  </div>
</footer>
