<div id="search-overlay" class="container-fluid overlay animation-on" *ngIf="expand && getUser()">
  <div class="row search-row justify-content-center">
    <div class="col-6">
      <form class="simple-form" #searchForm="ngForm" (ngSubmit)="searchForm.valid && search($event)">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for videos" [(ngModel)]="searchCriteria.query" name="search" required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" [disabled]="searchForm.invalid">Search</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row full-height" style="padding-bottom:125px;">
    <div class="col-2 full-height overlay-col">
      <div class="row">
        <h2>Playlists</h2>
      </div>
      <hr>
      <div class="row">
        <ul class="list-group playlist-list">
          <li class="list-group-item playlist-tab pointer" *ngFor="let pl of listPlaylists(); let i=index;" (click)="viewPlaylist(pl.Name)" [ngClass]="{'playlist-active': pl.Name===playlistName}">
            <h4>
              {{pl?.Name}}
            </h4>
          </li>
        </ul>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 text-center" *ngIf="!addingPlaylist">
          <button type="button" class="btn btn-success" (click)="addPlaylist()">
            <span class="fa fa-plus"></span>
          </button>
        </div>
        <div class="col-12" *ngIf="addingPlaylist">
          <div class="col-8">
            <input type="text" name="nplaylistName" placeholder="New Playlist" [(ngModel)]="newPlaylist.Name" style="color:#000000;">
          </div>
          <div class="col-4" style="padding-top:4px;">
            <a (click)="cancelPlaylistAdd()" style="color:red;"><span class="fa fa-remove"></span></a>
            <a (click)="registerPlaylist()" style="color:green;"><span class="fa fa-ok"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 full-height overlay-col" style="overflow-y: scroll;">
      <div id="loadingbar" *ngIf="isLoading" style="position:absolute; top:20%; right:50%;">
        <h3 class="text-center">Loading...</h3>
        <img src="assets/images/loading.gif" alt="loading" class="center-block" />
      </div>
      <div id="search-results" [hidden]="!isSearching || isLoading">
        <h2>Results</h2>
        <hr>
        <ul class="list-group" >
          <li *ngFor="let item of searchResults" (click)="addToPlaylist(item)" class="pointer list-group-item" role="presentation">
            <div class="row vidrow">
              <div class="col-xs-2 vidicon">
                <img src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-xs-3 col-sm-4 col-md-5 col-lg-6 vidtitle">
                <span>{{item?.Title}}</span>
              </div>
              <div class="col-xs-1 pull-right">
                <span class="pull-right vidtime">
                  {{item?.FormattedTime}}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="playlist-items" [hidden]="isSearching">
        <h2>{{playlistName}}</h2>
        <hr>
        <ul class="list-group playlist-item-list" >
          <li class="list-group-item" *ngFor="let item of playlists[playlistName]?.Contents let i=index; let f=first; let l=last" role="presentation">
            <div class="row vidrow">
              <div class="col-xs-2 vidicon">
                <img src="{{item.Thumbnails.default.url}}" width="120" height="90"/>
              </div>
              <div class="col-xs-3 col-sm-4 col-md-5 col-lg-6 vidtitle">
                <span>{{item?.Title}}</span>
              </div>
              <div class="col-xs-3" style="min-width:300px;">
                <div class="row">
                  <div class="col-xs-9 vidbuttons">
                    <div class="btn-group btn-group-sm">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="moveUp($index)" [hidden]="f">
                          <span class="fa fa-arrow-up"></span>
                        </button>
                        <button type="button" class="btn btn-primary" (click)="moveDown($index)" [hidden]="l">
                          <span class="fa fa-arrow-down"></span>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="removeFromPlaylist($index)">
                          <span class="fa fa-remove"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2 pull-right">
                    <span class="pull-right vidtime">{{item.FormattedTime}}</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="user-controls">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 expand-button text-center" (click)="expand=!expand">
        <ng-container *ngIf="getUser()">
          <span class="footer-text fa pointer" [ngClass]="{'fa-chevron-up': !expand, 'fa-chevron-down': expand}"></span>
        </ng-container>
      </div>
      <div class="col-xs-4 col-sm-2 col-lg-1">
        <ng-container *ngIf="getUser()">
          <button type="button" class="btn join-button" [ngClass]="{'btn-success': !joined, 'btn-danger': joined}" (click)="joinLeaveQueue()">
            {{joined ? 'Leave Queue' : 'Join Queue'}}
          </button>
        </ng-container>
      </div>
      <div class="col-xs-4 col-md-3 col-lg-2">
        <ng-container *ngIf="getUser()">
          <p class="footer-text see-more">
            <strong>Playlist: </strong>{{playlistName}}
          </p>
        </ng-container>
      </div>
      <div class="hidden-md-down col-lg-4">
        <p class="footer-text hidden-md-down see-more full-width">
          <strong>Next Song: </strong>
          {{playlists[playlistName]?.Contents[0]?.Title || 'No song left in playlist'}}
        </p>
      </div>
      <div class="col-xs-3 col-sm-2 col-lg-4">
        <a class="footer-text pointer float-right text-right" (click)="login()" *ngIf="!getUser()">Log in/Sign up</a>
        <ng-container *ngIf="getUser()?.Username">
          <a class="footer-text pointer float-right text-right" (click)="logOut()">Log Out?</a>
          <p class="footer-text hidden-md-down float-left text-left">Logged in as {{getUser()?.Username}}</p>
        </ng-container>
      </div>
    </div>
  </div>
</footer>
