
$background-color: #1b1921;
$base-color: #272736;
$base-color2: #4a4a66;
$foreground-color: #43495b;

$text-color-light: #d6daea; // dedbc6

$green: #00a584;
$green-light: #3ece99;
$green-dark: #008066;
$red: #a82f3d;
$red-light: #e96776;
$red-dark: #76212a;
$blue: #107bce;
$blue-light: #339ae9;
$blue-dark: #00508e;
