
$base-color-1: #272736;
$base-color-2: #43495b;

$text-color-light: #fff;

$green: #00a584;
$green-light: #3ece99;
$green-dark: #008066;
$red: #a82f3d;
$red-light: #e96776;
$red-dark: #76212a;
$blue: #107bce;
$blue-light: #339ae9;
$blue-dark: #00508e;
