<nav class="navbar navbar-inverse" style="margin-bottom:0px; border-radius:0px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">YTRadio</a>
    <ul class="nav navbar-nav">
    </ul>
    <div id="controls" ng-show="ytplayer.playing">
      <button type="button" class="btn navbar-btn btn-danger" ng-click="skip()" ng-disabled="!canSkip()">
          Skip
      </button>
      <button type="button" class="btn navbar-btn pull-right" ng-click="toggleMute()">
          <span class="glyphicon glyphicon-volume-off" ng-show="muted"></span>
          <span class="glyphicon glyphicon-volume-up" ng-hide="muted"></span>
      </button>
    </div>
  </div>
</nav>
