<div class="sidebar animation-on">
  <nav class="tabs">
     <a href="javascript:void(0);" ng-class="{'sidebar-btn-active':activeTab===0}" ng-click="activeTab=0">
       <span class="glyphicon glyphicon-user"></span>
     </a>
     <a href="javascript:void(0);" ng-class="{'sidebar-btn-active':activeTab===1}" ng-click="activeTab=1">
       <span class="glyphicon glyphicon-list"></span>
     </a>
     <a href="javascript:void(0);" ng-class="{'sidebar-btn-active':activeTab===2}" ng-click="activeTab=2">
       <span class="glyphicon glyphicon-envelope"></span>
     </a>
     <a href="javascript:void(0);" ng-class="{'sidebar-btn-active':activeTab===3}" ng-click="activeTab=3">
       <span class="glyphicon glyphicon-option-horizontal"></span>
     </a>
  </nav>
  <div class="row-fluid">
    <userlist ng-hide="activeTab!==0"></userlist>
    <queue ng-hide="activeTab!==1"></queue>
    <chat ng-hide="activeTab!==2"></chat>
    <settings ng-hide="activeTab!==3"></settings>
  </div>
</div>
