<div class="container-fluid sidebar">
  <div class="row" style="margin-left:0px;">
   <div class="col-xs-3 text-center pointer sidebar-btn" ng-class="{'sidebar-btn-active':activeTab===0}" ng-click="activeTab=0">
     <h1><span class="glyphicon glyphicon-user"></span></h1>
   </div>
   <div class="col-xs-3 text-center pointer sidebar-btn" ng-class="{'sidebar-btn-active':activeTab===1}" ng-click="activeTab=1">
     <h1><span class="glyphicon glyphicon-list"></span></h1>
   </div>
   <div class="col-xs-3 text-center pointer sidebar-btn" ng-class="{'sidebar-btn-active':activeTab===2}" ng-click="activeTab=2">
     <h1><span class="glyphicon glyphicon-envelope"></span></h1>
   </div>
   <div class="col-xs-3 text-center pointer sidebar-btn" ng-class="{'sidebar-btn-active':activeTab===3}" ng-click="activeTab=3">
     <h1><span class="glyphicon glyphicon-option-horizontal"></span></h1>
   </div>
  </div>
  <div class="row-fluid" style="height:100%;">
    <userlist ng-show="activeTab===0"></userlist>
    <queue ng-show="activeTab===1"></queue>
    <chat ng-show="activeTab===2"></chat>
    <settings ng-show="activeTab===3"></settings>
  </div>
</div>
