<div class="col-xs-10">
  <div id="video-wrapper" ng-hide="novid">
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video video-id="videoID" player-vars="playerVars" player="ytplayer"></youtube-video>
    </div>
  </div>
  <div id="error-wrapper" ng-show="novid">
    <div class="embed-responsive embed-responsive-16by9">
      <h1 style="margin-top:250px;">No Videos Queued <small>Add a video to get the party rolling!</small></h1>
    </div>
  </div>
</div>
<div class="col-xs-2">
  <radio-sidebar></radio-sidebar>
</div>
