<div id="search-overlay" class="container-fluid overlay animation-on" ng-show="expand && getUser()">
  <div class="row" style="padding-top:20px; height:75px; background-color:#000;">
    <div class="col-xs-3">
      &nbsp;
    </div>
    <div class="col-xs-6">
      <form class="simple-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for videos" ng-model="searchCriteria">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search()">Search</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-xs-3">
      &nbsp;
    </div>
  </div>
  <div class="row" style="height:100%; padding-bottom:125px;">
    <div class="col-xs-3">
      <h2>Playlists</h2>
      <ul class="playlist-list">
        <li class="playlist-tab" ng-repeat="playlist in playlists track by $index" ng-click="viewPlaylist(playlist.Name)">
          {{playlist.Name}}
        </li>
      </ul>
    </div>
    <div class="col-xs-6" style="height:100%; overflow-y: scroll;">
      <div id="search-results" ng-hide="!isSearching">
        <h2>Results</h2>
        <hr>
        <ul class="nav nav-stacked" >
          <li ng-repeat="result in searchResults track by $index" ng-click="addToQueue(result)" class="pointer" role="presentation">
            <span><img ng-src="{{result.snippet.thumbnails.default.url}}"></img>{{result.snippet.title}}<span>
          </li>
        </ul>
      </div>
      <div id="playlist-items" ng-hide="isSearching">
        <ul class="nav nav-stacked" >
          <li ng-repeat="item in playlist.Contents track by $index" class="pointer" role="presentation">
            <span><img ng-src="{{item.snippet.thumbnails.default.url}}"></img>{{item.snippet.title}}<span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="col-xs-1" ng-click="expand=!expand" ng-show="getUser()">
          <ul class="nav navbar-nav">
            <li>
              <a>
                <span class="glyphicon glyphicon-chevron-down" ng-show="expand"></span>
                <span class="glyphicon glyphicon-chevron-up" ng-hide="expand"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-1" ng-show="getUser()">
          <ul class="nav navbar-nav">
            <li>
              <a>{{playlist.Name}}</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-9" ng-show="getUser()">
          <ul class="nav navbar-nav">
            <li>
              <a>{{playlist.Contents[0].snippet.title || 'No song left in playlist'}}</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-1 pull-right">
          <ul class="nav navbar-nav pull-right">
            <li class="pull-right text-right" ng-click="login()" ng-hide="getUser()">
              <a class="pull-right text-right">Log in/Sign up</a>
            </li>
            <li class="pull-right text-right" ng-click="openSettings()" ng-show="getUser().Username">
              <a class="pull-right text-right">{{getUser().Username}}</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</footer>
