.chat-window {
    height: 100%;

    .messages {
        height: calc(100% - 100px);
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 20px;
        padding-bottom: 45px; 
    }

    .send-box {
        height: 30px;
        margin: 5px 0;
        width: 100%;
    }
}
