@import '../../../scss/_variables';

.chat-window {
  height: 100%;
  padding: 0 10px;

  .messages {
    height: calc(100% - 105px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 15px;
  }

  .chatmessage {
    word-wrap: break-word;
    margin: 5px 0;
    padding: 2px 0 0 0;
    font-size: 14px;
    
    &+.chatmessage {
      border-top: 1px dotted $background-color;
    }
  }

  .send-box {
    margin-top: 5px;
    width: 100%;
  }
}
