<div class="col-12 chat-window">
    <div class="messages" #scrollMe>
        <p class="chatmessage" *ngFor="let message of messages">
            <b>{{message?.Author}}:</b> {{message?.Message}}
        </p>
    </div>
    <footer class="send-box" *ngIf="user">
        <form (submit)="sendMessage()" autocomplete="off">
            <input type="text" name="messageBox" class="form-control" placeholder="type here to chat" [(ngModel)]="messageText.contents" maxlength="512">
        </form>
    </footer>
</div>
