<div class="col-12 chat-window">
    <div class="messages">
        <p class="chatmessage" *ngFor="let message of messages">
            <b>{{message?.Author}}:</b> {{message?.Message}}
        </p>
    </div>
    <!--[hidden]="!getUser()"-->
    <footer class="send-box" >
        <form (submit)="sendMessage()">
            <input type="text" name="messageBox" class="form-control" placeholder="type here to chat" [(ngModel)]="messageText.contents" maxlength="512">
        </form>
    </footer>
</div>
