@import '~bootstrap/scss/bootstrap';
// point to fa-fonts before import
$fa-font-path : '../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import '~ngx-toastr/toastr-bs4-alert';
@import './scss/_variables';

html, body {
  height: 100%;
  min-width: 320px;
  background-color: $background-color;
  color: $text-color-light;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  
  a, button, .btn, .expand-button, .pointer {
    font-weight: bold;
    cursor: pointer;
  }
  
  hr {
    background-color: $background-color;
  }
  
  .btn, .btn-default {
    background-color: #333;
    border: 1px solid #666;
    color: #fff;
  }
  .btn-primary {
    background-color: $blue;
    border-color: $blue-light;
    
    &:hover {
      background-color: $blue-dark;
      border-color: $blue;
    }
  }
  .btn-success {
    background-color: $green;
    border-color: $green-light;
    
    &:hover {
      background-color: $green-dark;
      border-color: $green;
    }
  }
  .btn-danger {
    background-color: $red;
    border-color: $red-light;
    
    &:hover {
      background-color: $red-dark;
      border-color: $red;
    }
  }
  
  input, textarea, .form-control {
    background-color: $background-color;
    border: 1px solid $foreground-color;
    color: $foreground-color;
    
    &:focus {
      background-color: $background-color;
      border-color: $foreground-color;
      color: $text-color-light;
      outline: none;
      appearance: none;
    }
  }
  
  .modal {
     background-color: rgba(0, 0, 0, 0.8);
  }
  .modal-header {
    border-color: $background-color;
  }
  .modal-content {
    background-color: $foreground-color;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.nopad-x {
  padding-left: 0px;
  padding-right: 0px;
}

.queue {
  width: 100%;
  height: 100%;
}

.queue-item {
  min-height: 50px;
  width: 100%;
  padding: 2px;
}

.see-more {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
